css/
img/
js/
lib/
mail/jqBootstrapValidation.min.js
scss/
article-1.html
category.html
desktop-gaming.html
mobile-gaming.html
online-betting.html
online-casino.html
online-fantasy-game.html
online-gambling.html
online-igaming.html
online-ludo.html
online-poker.html
online-real-money.html
online-rummy.html
sports-betting.html

# index.html
# contact.html